@import 'compass/reset';
@import 'bootstrap-responsive';
@import 'compass/utilities';
@import 'compass/css3';

.container {
  a.brand {
    font-family: 'PT Sans', sans-serif;
  }
  margin-top: 4em;
}

.navbar {
  .container {
    margin-top: 0em;
  }
}

@import 'ombushop';

