@import "compass/css3";
@import "bootstrap/mixins";


/* ---------------------------------------------------- */
/* OMBUSHOP FAQTLY - styles */

/* ----------------------------- */
/* GENERAL */

body {
  background: #e0efec;
  font-family: Helvetica, Arial, sans-serif;
  color: #55595F;
  line-height: 160%;
  text-shadow: 0 1px 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #128382;
  font-family: 'Cabin', arial, serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
a {
  color: #0E84C4;
  &:visited {
    color: #084F75;
  }
  &:hover {
    color: #1099E4;
  }
}
h3 a {
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
    color: #1099E4;
  }
}

/* ----------------------------- */
/* HEADER */

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #2BA47B;
  text-decoration: underline;
}
.navbar .nav > li > a.link {
  padding-top: 30px;
}
.navbar-inner {
  div.container {
    height: 100px
  }
}
div.navbar div.navbar-inner {
  background-color: #128382;
  @include gradient-vertical(#FFF, #FFF);
  a.brand {
    padding-top: 20px;
    img {
      width: 195px;
    }   
  } 
}

/* ----------------------------- */
/* CONTENT */

body > div.container {
  padding-top: 100px;
  h1 {
    font-size: 35px;
    border-bottom: 1px solid #d0ddbb;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow:    0 1px 0 #fff;
    -ms-box-shadow:     0 1px 0 #fff;
    -o-box-shadow:      0 1px 0 #fff;
    box-shadow:         0 1px 0 #fff;
    margin-bottom: 40px;
    padding-bottom: 14px;
  }
  h3 {
    font-size: 21px;
  }
}
div.actions {
  width: 160px;
  text-align: right;
  .btn {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  form {
    display: inline;
  }
}
div.row.question {
  border-bottom: 1px solid #d0ddbb;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow:    0 1px 0 #fff;
  -ms-box-shadow:     0 1px 0 #fff;
  -o-box-shadow:      0 1px 0 #fff;
  box-shadow:         0 1px 0 #fff;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 300px;
  padding-bottom: 20px;
}
