@import "compass/css3";
@import "bootstrap/mixins";

@mixin linea-bajorelieve {
  border-bottom: 1px solid #d0ddbb;
  @include single-box-shadow(#fff, 0, 1px, 0);
}


/* ---------------------------------------------------- */
/* OMBUSHOP FAQTLY - styles */

/* ----------------------------- */
/* GENERAL */

body {
  background: #e0efec;
  font-family: Helvetica, Arial, sans-serif;
  color: #55595F;
  line-height: 160%;
  text-shadow: 0 1px 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #128382;
  font-family: 'Cabin', arial, serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
a {
  color: #0E84C4;
  &:visited {
    color: #084F75;
  }
  &:hover {
    color: #1099E4;
  }
}
h3 a {
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
    color: #1099E4;
  }
}

/* ----------------------------- */
/* HEADER */

.navbar .nav > li.logo-container {
  margin-right: 30px;
}
.navbar .nav > li.nav-item {
  padding: 0;
  margin-top: 20px;
  a {
    @include border-radius(7px);
    color: #859C9C;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 12px 0;
    padding: 10px 12px;
    text-decoration: none;
    @include single-text-shadow(#fff, 0, 1px, 0);
    text-transform: uppercase;
    &:hover {
      background: #e0efec;
      color: darken(#859C9C, 10%);
    }
    &:active {
      background: darken(#e0efec, 5%);
      color: darken(#859C9C, 20%);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.2) inset;
      box-shadow:         0 1px 2px rgba(0, 0, 0, 0.2) inset;   
    }
  }
}
.navbar-inner {
  div.container {
    height: 100px
  }
}
div.navbar div.navbar-inner {
  background-color: #128382;
  @include gradient-vertical(#FFF, #FFF);
  a.brand {
    padding-top: 20px;
    img {
      width: 195px;
    }   
  } 
  form#search {
    margin-top: 37px;
    input.search-query {
      padding-right: 14px;
      padding-right: 4px 9;
      padding-left: 14px;
      padding-left: 4px 9;
      margin-bottom: 0;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      color: #888;
      background-color: white;
      border: 1px solid #CCC;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
      -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -o-transition: border linear 0.2s, box-shadow linear 0.2s;
      transition: border linear 0.2s, box-shadow linear 0.2s;
    }
  }
}

/* ----------------------------- */
/* CONTENT */

body > div.container {
  padding-top: 100px;
  h1 {
    font-size: 35px;
    @include linea-bajorelieve;
    margin-bottom: 40px;
    padding-bottom: 14px;
  }
  h3 {
    font-size: 21px;
  }
}
div.actions {
  width: 160px;
  text-align: right;
  .btn {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  form {
    display: inline;
  }
}
div.row.question {
  @include linea-bajorelieve;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 300px;
  padding-bottom: 20px;
}

/* ----------------------------- */
/* FORMS */

form {
  legend {
    @include linea-bajorelieve;
    color: #128382;
    font-family: 'Cabin', arial, serif;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 0.5em;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  div.control-group:last-child {
    width: 680px;
  }
}