!!!
%html
  %head
    :css
      body { text-align:center;font-family:helvetica,arial;font-size:22px;
        color:#888;margin:20px}
      #c {margin:0 auto;width:500px;text-align:left}
        %body
    %h2 No se ha encontrado la pregunta. 
    %img{src: "http://www.ombushop.com/images/ombu-logo.png"}

