.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* ---------------------------------------------------- */
/* OMBUSHOP FAQTLY - styles */
/* ----------------------------- */
/* GENERAL */
body {
  background: #e0efec;
  font-family: Helvetica, Arial, sans-serif;
  color: #55595F;
  line-height: 160%;
  text-shadow: 0 1px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #128382;
  font-family: 'Cabin', arial, serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

a {
  color: #0E84C4;
}
a:hover {
  color: #1099E4;
}

h3 a {
  color: inherit;
}
h3 a:visited {
  color: inherit;
}
h3 a:hover {
  text-decoration: none;
  color: #1099E4;
}

[class^="icon-"], [class*=" icon-"] {
  /* arreglar la ruta a los iconos de bootstrap */
  background-image: url("/images/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png");
}

/* ----------------------------- */
/* HEADER */
.navbar .nav > li.logo-container {
  margin-right: 30px;
}

.navbar .nav > li.nav-item {
  padding: 0;
  margin-top: 20px;
}
.navbar .nav > li.nav-item a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #859C9C;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0;
  padding: 10px 12px;
  text-decoration: none;
  text-shadow: white 0 1px 0;
  text-transform: uppercase;
}
.navbar .nav > li.nav-item a:hover {
  background: #e0efec;
  color: #6b8383;
}
.navbar .nav > li.nav-item a:active {
  background: #cfe6e2;
  color: #546767;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.navbar-inner div.container {
  height: 100px;
}

div.navbar div.navbar-inner {
  background-color: #128382;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
div.navbar div.navbar-inner a.brand {
  padding-top: 20px;
}
div.navbar div.navbar-inner a.brand img {
  width: 195px;
}
div.navbar div.navbar-inner form#search {
  margin-top: 37px;
}
div.navbar div.navbar-inner form#search input.search-query {
  padding-right: 14px;
  padding-right: 4px 9;
  padding-left: 14px;
  padding-left: 4px 9;
  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #888;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* ----------------------------- */
/* CONTENT */
body > div.container {
  padding-top: 100px;
}
body > div.container h1 {
  font-size: 35px;
  border-bottom: 1px solid #d0ddbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin-bottom: 40px;
  padding-bottom: 14px;
}
body > div.container h3 {
  font-size: 21px;
}

div.actions {
  width: 180px;
  text-align: right;
}
div.actions .btn {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
}
div.actions form {
  display: inline;
}

.search-string {
  color: #55595F;
  background-color: #ffffdf;
  width: 600px;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 40px;
  margin-top: -20px;
  font-size: 16px;
}
.search-string strong {
  font-weight: bold;
  font-style: italic;
  color: #ff8c2f;
}

div.row.question {
  border-bottom: 1px solid #d0ddbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 300px;
  padding-bottom: 20px;
}
div.row.question div.span6 {
  width: 440px;
}

div.pagination a:hover {
  background-color: #E6E6E6;
}
div.pagination a.next {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0px;
}
div.pagination a.previous {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 1px;
}
div.pagination a.previous:last-child, div.pagination a.next:first-child {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left-width: 1px;
}

/* ----------------------------- */
/* FORMS */
form legend {
  border-bottom: 1px solid #d0ddbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  color: #128382;
  font-family: 'Cabin', arial, serif;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 0.5em;
  line-height: 1.2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
form div.control-group:last-child {
  width: 680px;
}

/* ----------------------------- */
/* FOOTER */
footer.footer {
  background: #4a382f;
  -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
}
footer.footer .container {
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  color: #F2F9F4;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
}
footer.footer .container a {
  color: #ffffdf;
}
footer.footer .container .footer-logo {
  background: url("http://www.ombushop.com/images/ombu-logo-footer.png") #4a382f top left no-repeat;
  text-indent: -20000px;
  width: 46px;
  height: 46px;
  margin: 10px auto 0 auto;
}
