development:
  host: 127.0.0.1
  adapter: postgres
  database: faqtly_development
  username: postgres
  password: postgres

test: &test
  adapter: postgres
  host: 127.0.0.1
  username: faqtly_user
  database: faqtly_test

production:
  adapter: postgres
  encoding: utf8
  reconnect: false
  database: faqtly_production
  pool: 5
